@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI.woff') format('woff'),
		url('SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
	url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
	url('SegoeUI-Bold.woff') format('woff'),
	url('SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}